<%- include('../partials/header') %>
<table id="menus">
    <thead>
        <tr>
            <th>Menu Name</th>
            <th>Menu Type</th>
        </tr>
    </thead>
    <tbody>
        <% menus.forEach(function(m) { %>
            <% if (user?._id.equals(m.user)) { %>
            <tr>
                <td><%= m.name %></td>
                <td><%= m.menuType %></td>
                <td>
                    <form action="/menus/<%= m.id %>/edit" 
                    method="GET" 
                    class="edit-form">
                        <button type="submit">Edit Menu</button>
                    </form>
                </td>
                <td>
                    <form action="/menus/<%= m.id %>/show" 
                    method="GET" 
                    class="show-form">
                        <button type="submit">Show Menu</button>
                    </form>
                </td>
            </tr>
            <% } %>
            <% }); %>
    </tbody>
</table>
<br><br>
<hr>
<br>
<h3>Add a new Menu</h3>
<form id="new-menu" action="/menus" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Menu Type:</label>
        <select name="menuType">
            <!-- <option value="Lunch">Lunch</option>
            <option value="Happy Hour">Happy Hour</option>
            <option value="Dinner">Dinner</option> -->
            <% menuTypeEnum.map(function(m) { %>
                <option value="<%= m %>"><%= m %></option>
            <% }); %>
        </select>
        <input type="submit" value="Add Menu">
</form>

<%- include('../partials/footer') %>