<%- include('../partials/header') %>

<table id="menu-table">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Add-Ons</th>
        <th>Allergens</th>
        <th>Available?</th>
    </thead>
    <tbody>
    <% menu.contents.map(function(mi) { %>
        <% if (user?._id.equals(menu.user)) { %>
        <tr>
            <td><%= mi.name %></td>
            <td>$<%= mi.price %></td>
            <td><%- mi.description.replaceAll('\n', '<br>') %></td>
            <td><%= mi.addOn %></td>
            <td><%= mi.allergens %></td>
            <!-- <td> 
                <div class="form-check form-switch">
                <form action="/menus/<%= menu.id %>">
                <label class="form-check-label" for="flexSwitchCheckDefault">Available?</label>
                <input class="form-check-input" type="checkbox" name="checkbox" role="switch" id="flexSwitchCheckDefault" name="available">
                <button>on off</button>
                </form>
                </div>
            </td>
            </tr>
            <% } %> -->
        <% }); %>
    </tbody>
</table>
<br>
<hr>
<br>
<form id="addToMenu" action="/menus/<%= menu._id %>/menuItems" method="POST">
        <select name="menuItemId" id="">
            <% menuItems.map(function(m) { %>
                <option id="reverse" value="<%= m._id %>"><%= m.name %></option>
            <% }); %>
        </select>
    <input type="submit" value="Add to Menu">
</form>
<br>
<br>
<form action="/menus/<%= menu._id %>" method="POST">
    <button type="submit">Render Menu</button>
</form>

<%- include('../partials/footer') %>