<%- include('../partials/header') %>

<table>
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Add-Ons</th>
        <th>Allergens</th>
    </thead>
    <tbody>
        <tr>
            <td><%= menuItem.name %></td>
            <td>$<%= menuItem.price %></td>
            <td><%- menuItem.description.replaceAll('\n', '<br>') %></td>
            <td><%= menuItem.addOn %></td>
            <td><%= menuItem.allergens %></td>
            <td>
    </tbody>
</table>

<form id="edit-menu-item" action="/menuItems/<%= menuItem.id %>?_method=PUT" method="POST">
    <table>
        <label>Name:</label>
        <input type="text" name="name" value="<%= menuItem.name %>"><br>
        <label>Price:</label>
        <input type="number" name="price" value="<%= menuItem.price %>"><br>
        <label>Add Ons:</label>
        <input type="text" name="addOn" value="<%= menuItem.addOn %>"><br>
        <label>Allergens:</label>
        <input type="text" name="allergens" value="<%= menuItem.allergens %>"><br>
        <label>Description:</label>
        <textarea name="description" cols="30" rows="10" placeholder="<=% menuItem.description %>"></textarea><br>
        <label>Image link:</label>
        <input type="text" name="image" value="<%= menuItem.image %>"><br>
        <input type="submit" value="Edit Dish">
    </table>
</form>
<form 
action="/menuItems/<%= menuItem.id %>?_method=DELETE" 
method="POST"
id="delete-menu"
>
    <button type="submit">Delete Menu Item</button>
</form>

<%- include('../partials/footer') %>