<%- include('../partials/header') %>


<table id="menu-item-table">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Add-Ons</th>
        <th>Allergens</th>
    </thead>
    <tbody>
    <% menuItems.forEach(function(mi) { %>
        <% if (user?._id.equals(mi.user)) { %>
        <tr>
            <td><%= mi.name %></td>
            <td>$<%= mi.price %></td>
            <td><%- mi.description.replaceAll('\n', '<br>') %></td>
            <td><%= mi.addOn %></td>
            <td><%= mi.allergens %></td>
            <td>
                <form action="/menuItems/<%= mi.id %>/edit" 
                method="GET" 
                class="edit-form">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form 
                action="/menuItems/<%= mi.id %>?_method=DELETE" 
                method="POST"
                class="delete-form">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
    <% }); %>
    </tbody>
</table>
<br>
<hr>
<br>
<form id="new-menu-item" action="/menuItems" method="POST">
    <table>
        <label>Name:</label>
        <input type="text" name="name"><br>
        <label>Price:</label>
        <input type="number" name="price"><br>
        <label>Add Ons:</label>
        <input type="text" name="addOn"><br>
        <label>Allergens:</label>
        <input type="text" name="allergens"><br>
        <label>Description:</label>
        <textarea name="description" cols="30" rows="6"></textarea><br>
        <label>Image link:</label>
        <input type="text" name="image"><br>
        <label>Menu Section</label>
        <select name="menuSection">
            <% menuSectionEnum.map(function(m) { %>
                <option value="<%= m %>"><%= m %></option>
            <% }); %>
        </select>
        <input type="submit" value="Add Dish">
    </table>
</form>

<%- include('../partials/footer') %>